<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.moetz.android.timingiseverything">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".runningproject.RunningProjectActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".timereg.TimeRegsActivity"
            android:label="@string/title_activity_time_reg" />
        <activity android:name=".timereg.AddTimeRegActivity" />
    </application>

</manifest>